* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

.background-image {
    position: relative;
}
.background-image img {
    width: 100%;
    height: auto;
}

.navbar {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    backdrop-filter: blur(5px); 
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.navbar li {
    margin: 20px;
}

.navbar a {
    text-decoration: none;
    color: #725b5b;
    font-weight: bold;
}

#inputBuscar {
    width: 350px; 
    padding: 10px;
    font-size: 20px; 
    border: 1px solid #835f5f; 
    border-radius: 50px; 
    outline: none; 
    background-color: rgba(255, 255, 255, 0.549);
    backdrop-filter: blur(2px); 
}
.search-container {
    position: absolute;
    top: 25%;
    left: 50%;
    padding: 10px;
    border-radius: 5px;
    margin-left: -200px; }

#inputBuscar {
    width: 400px;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 20px;
}
.fondo{
    background-color: #725b5b;
    width: 100%;
}


.btnAgregar{
    text-decoration: none;

}
.btnAgregar{
    display: flex;
    justify-content: center;
    align-items: center;

}

.boton {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 19px;
    margin-left: 8px;
    backdrop-filter: blur(3px);
    border-radius: 25px;
}

.btnAgregar:hover,
.btnQuitar:hover,
.boton:hover {
    scale: 1.05;

}
.boton.seleccionado{
    border: 4px solid white;
}


.main { /* carteles de productos */
    width: 60%;
    margin: auto;
}

section {  
    position: fixed;
    box-shadow: -6px -2px 25px -13px rgba(0, 0, 0, 0.15);
    width: 340px;
    height: 100%;
    top: 0;
    right: 0;
    padding: 30px;
    transition: all 0.2s;
    background-color: white;
}
section h1 { /*  icono del carrito*/
    position: absolute;
    top: 10px;
    right: 360px;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    cursor: pointer;
    background: url("./img/carrito.png") no-repeat ;
    background-size: 60%;
    background-position: 15px center;
    
    
}

section h1 span { /* numero de elementos*/
    display: block;
    padding: 5px;
    width: 30px;
    text-align: center;
    font-size: 16px;
    margin-left: 40px;
    color: #725b5b;
}

.productoCarrito {
    border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    margin-bottom: 10px;
    line-height: 24px;
}

.ocultar {
    right: -340px;
    transition: all 0.2s;
}
#scroll {
    max-height: 96%;
    overflow-y: auto;
    padding-left: 5px;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}



#productos {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    height: auto;
    gap: 100px;
}

.producto {

    margin: 10px;
    padding: 10px;
    width: 200px; 
    text-align: center; 
}
.producto:hover {
    scale: 1.05;
}

.producto h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 250px;
    font-size: 20px;
}
.producto .imagen {
    display: flex;
    justify-content: center;
    min-height: 100px;
    margin: 20px 0;
}

.producto .imagen img {
    max-height: 100px;
}

.precio {
    text-align: center;
    font-size: 20px;
}
.border-top {
    border-top: 2px solid #9B9B9B;
    margin-bottom: 30px;
    width: 90%;
    margin-left: 80px;
}

.redes{
    display: flex;
    justify-content: right;
    margin-right: 80px;
    gap: 20px;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#scrollToTopBtn {
    display: none; /* Oculta el botón inicialmente */
    position: fixed;
    right: 20px;
    z-index: 1;
    background: url(./img/flecha.png) no-repeat;
    cursor: pointer;
    padding: 30px;
    border: none; /* Quita el borde */
    background-color: transparent; /* Establece el fondo transparente */

}

